
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,600,700");

@font-face {
    font-family: "KlinicSlab";
    src: url("/fonts/KlinicSlabLight.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "KlinicSlab";
    src: url("/fonts/KlinicSlabLightIt.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: "KlinicSlab";
    src: url("/fonts/KlinicSlabBook.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "KlinicSlab";
    src: url("/fonts/KlinicSlabBookIt.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
  }
  

html { 
    background: url(header__our-approach__bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.content {
    font-family: KlinicSlab,Georgia,Cambria,Times new roman,serif;
    text-align: center;
    color: #fff;
    margin: 10%;
}

.content img {
    margin-bottom: 6%;
    margin-left: -100%;
    margin-top: -3%;
}

.content h1 {
    color: #ed282a;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 800;
    font-size: calc(20px + 5 * (100vw - 450px) / 1050);
    text-align: left;
}

.content h2 {
    font-family: KlinicSlab,Georgia,Cambria,Times new roman,serif;
    opacity: 1;
    transform: translate(0px, 0px);
    color: #fff;
    line-height: 1.2;
    font-weight: 700;
    font-size: calc(35px + 25 * (100vw - 450px) / 1050);
    text-align: left;
    margin: 0%;
}

.footer {
    text-align: center;
    color: #606060;
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 50%;
    font-family: Montserrat,proxima nova,Helvetica,Arial,sans-serif;
    line-height: 1;
    margin-left: 25%;
    margin-right: auto;
}

.submit {
  border: 1px solid #ed282a;
  color: #606060;
  width: 160px;
  padding: .8em 1em;
  box-shadow: 0 2px 3px rgba(0,0,0,.02), 0 0 2px -1px rgba(0,0,0,.1);
  background: transparent;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: .5px;
  font-family: Montserrat,proxima nova,Helvetica,Arial,sans-serif;
  font-weight: 400;
  float: none;
  margin: .15em 0;
  position: relative;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  z-index: 1;
  border-radius: 4px;
  transition: all .2s ease;
}

.submit:hover {
  background: #ed282a;
  color: #fff;

}

.email-field {
  width: 126px;
  border: 1px solid #606060;
  color: #606060;
  cursor: text;
  margin-right: 10px;
  top: 1.5em;
  transform: translateY(-50%);
  left: 0em;
  right: auto;
  padding: .8em 1em;
  box-shadow: 0 2px 3px rgba(0,0,0,.02), 0 0 2px -1px rgba(0,0,0,.1);
  background: transparent;
  display: inline-block;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  font-size: 1rem;
  letter-spacing: .5px;
  font-family: Montserrat,proxima nova,Helvetica,Arial,sans-serif;
  font-weight: 400;
  float: none;
  margin: .15em 0;
  position: relative;
  -webkit-appearance: none;
  outline: none;
  z-index: 1;
  border-radius: 4px;
  transition: all .2s ease;
}

.email-field:hover {
  border: 1px solid #ed282a;
}

.email-field:focus {
  border-color: #fff;
  background:#fff;
}


.inline-label > .email-field:focus:focus {
  color:#606060;
  background:#fff;
  padding:.8em 1em;
  right:0;
  left:auto;
  border-left:1px solid rgba(96,96,96,.42);
  z-index:3;
  text-transform: none;
}